.panel {
    width: auto;

    display: flex;

    flex-direction: column;

    background: var(--bg-sidebar);

    border-right: 1px solid var(--text-inverse-dim);

    width: calc(100% - 28px);
    max-width: 200px;
    opacity: 1;
    transition: width 500ms ease, opacity 250ms ease;
}

.spacer {
    flex: 1;
}

.collapsed {
    width: 0;
    opacity: 0;
    pointer-events: none;
}

@media (max-width: 40rem) {
    .panel {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;

        width: 18rem;
        max-width: 82vw;

        z-index: 1000;
    }

    .collapsed {
        width: 0;
        opacity: 0;
        pointer-events: none;
    }
}