.panel {
    width: auto;

    display: flex;

    flex-direction: column;

    background: var(--bg-sidebar);

    border-right: 1px solid var(--sidebar-border);

    width: calc(100% - 28px);
    max-width: 200px;
    opacity: 1;
    transition: width 500ms ease, opacity 250ms ease;
}

.spacer {
    flex: 1;
}

.collapsed {
    width: 0;
    opacity: 0;
    pointer-events: none;
}