.list {
    display: flex;
    flex-direction: column;

    gap: 0.625rem;

    flex: 1;
    min-height: 0;

    overflow-y: auto;

    padding-right: 0.25rem;
}
.list::-webkit-scrollbar {
    width: 0.5rem;
}

.list::-webkit-scrollbar-thumb {
    background: #D3D8E4;
    border-radius: 0.25rem;
}